.slideListBorder {
    text-align: center;
    height: 600px;
    width: 200px;
    border: 1px solid blue;
    float: left;
    margin: auto;
    padding: 5px;
}

.slideListContent {
    align-self: left;
}

.slideButton {
    border: 1px solid purple;
    color: purple;
    height: 40px;
    width: 160px;
}